/* Feuille de style perso VM */


/* Style général */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=auto');

body {
  font-family: "Source Sans Pro";
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 600;
}

h1 {font-size: 2.5em}
h2 {font-size: 1.7em}
h3 {
  font-size: 1.0em;
  margin: 1.2rem 0 .5rem 0;
}

span.pre {
  background-color: #eee;
  padding: 1px 5px;
  border: 0;
  color: #000;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: inherit;
  line-height: 1.3077
}

#site-navigation {
    font-size: 1.05rem;
    line-height: 1.5;
}

/* Taille des légendes */

main.bd-content #main-content div.figure span {
  font-size: 1.1rem;
}

/* Hack pour faire disparaître le bouton "launch" */

.menu-dropdown.menu-dropdown-launch-buttons {
    display: none;
}


/* Hack pour faire disparaître le footer (et mettre le mien à la place) */

.footer p {
    display: none;
}

/* Tableaux */

table p { margin-bottom: 0 }


/* Cadre exemple */

.example {
  background-color: #F7F9FA;
  padding: 1em;
  border-left: 2px #c6c9cc solid;
  margin: 1em 0;
}

.example::before {
  content: "Exemple";
  font-weight: bold;
  color: #9c9ea1;
}


/* Styles pour les animations */

.spetsi {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim-button {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #0071bc;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
}
.anim-button:hover {
  background-color:#dfdfdf;
}
.anim-button:active {
  position:relative;
  top:1px;
}

.spetsi {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* Tableaux */

.table {
    /* centrer les tableaux */
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content !important;
}

.table thead th {
    /* Lignes du tableau */
    border-top: 2px solid #7c7e80;
    border-bottom: 2px solid #7c7e80;
}

.table tbody tr {
    /* Lignes du tableau */
    border-top: 1px solid #7c7e80;
}

.table {
    border-bottom: 2px solid #7c7e80;
}

.table th p, .table tr p  {
    /* réduire l'interligne */
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}


/* Séquence binaire */

code {
    color: inherit;
    letter-spacing: .1rem;
}

code .pre {
    /* annuler la valeur letter-spacing pour les commandes `x` */
    letter-spacing: 0;
}


/* Bouton exercice */

a.exercise::before {
    content: "➜ Exercice ";
}